<div id="tileSet">
<%tiles.each(function(tile){ %>
  <div id='<%=tile.cid%>' class="tile panel panel-primary">
    <%=tile.get('title')%>, <%= tile.cid%>, comments, +, -,
    <a href='<%= tile.get('url') %>'>
      <div title="<%= tile.get('title')%>">
        <img class='tile-image' src='<%= tile.get('imgSrc') %>'>
      </div>
    </a>
  </div>

  <script>
    $('#<%=tile.cid%>').hide();
    msnry.layout()
    imagesLoaded('#<%=tile.cid%>', function(){
      $('#<%=tile.cid%>').show()
      msnry.appended($('#<%=tile.cid%>'))

    })
  </script>
<% }) %>
</div>