<script>
  var container = document.querySelector('#allTiles');
  var msnry = new Masonry( container, {
    itemSelector: '.tile',
    columnWidth: 255,
  });
  imagesLoaded('#tileSet',function(){
    msnry.layout()
  })
</script>

<!-- create a set of Tiles -->
<div id="tileSet">
<%tiles.each(function(tile){ %>
  <div id='<%=tile.cid%>' class="tile panel panel-primary">
    <%=tile.get('title')%>, <%= tile.cid%>, comments, +, -,
    <a href='<%= tile.get('url') %>'>
      <div title="<%= tile.get('title')%>">
        <img class='tile-image' src='<%= tile.get('imgSrc') %>'>
      </div>
    </a>
  </div>
<% }) %>
</div>