<!--
Renders a Tile element
Tiles need to be appended onto a Mason
Starts out hidden, shows and appends to msnry on load
-->

<div draggable="true" ondragstart="drag(event)" id='<%=tile.cid%>' class="tile panel panel-primary">
  <%= tile.cid%>: <%=tile.get('title')%>
  <a href='<%= tile.get('url') %>'>
    <div title="<%= tile.get('title')%>">
      <img class='tile-image' src='<%= tile.get('imgSrc') %>'>
    </div>
  </a>
</div>

<script>
// $(function() {
//   $( "#draggable" ).draggable({ handle: "img" });
//   $( "div, p" ).disableSelection();
// });


  $('#<%=tile.cid%>').hide();
  imagesLoaded('#<%=tile.cid%>', function(){
    $('#<%=tile.cid%>').show()
    msnry.appended($('#<%=tile.cid%>'))
  })
</script>