<!--
Renders a Tile element
Tiles need to be appended onto a Mason
Starts out hidden, shows and appends to msnry on load
-->

<div draggable="true" ondragstart="drag(event)" id='<%=tile.cid%>' class="tile panel panel-primary">
  <a id='<%=tile.cid%>' href='<%= tile.get('url') %>'>
    <%= tile.cid%>: <%=tile.get('title')%>
  </a>
  <div id='<%=tile.cid%>' title="<%= tile.get('title')%>">
    <img id='<%=tile.cid%>' class='tile-image' src='<%= tile.get('imgSrc') %>'>
  </div>
</div>

<script>
  $('#<%=tile.cid%>').hide();
  imagesLoaded('#<%=tile.cid%>', function(){
    $('#<%=tile.cid%>').show()
    <%=divId%>msnry.appended($('#<%=tile.cid%>'))
  })
</script>